/*

This is not documentation

*/


/*---

# Test Style Guide

This is an example of a style guide written in [mdcss](https://github.com/jonathantneal/mdcss).

*/

/*---
title: Base CSS
---*/

:root {
	background-color: #fff;
	color: #000;
}

/*---
title:   Buttons
section: Base CSS
---

Button styles can be applied to any element. Typically you'll want to use
either a `<button>` or an `<a>` element:

```example:html
<button class="btn">Click</button>
```
*/

.btn {
    background-color: black;
    color: white;
}

/*---
title:   Links
section: Base CSS
---

Link styles can only be applied to `<a>` elements.

```example:html
<a class="btn" href="/some-page">Some page</a>
```

*/

a {
	color: red;
	text-decoration: none;
}


/*---
title: Captions
---

Captions do their own things.

```example:html
<figure>
	<img src="//placehold.it/500x250">
	<figcaption>This is a figure.</figcaption>
</figure>
```

*/

figure {
	display: block;
}

figcaption {
	font-style: italic;
}

/*---
title:  Imported Content
import: basic-import.md
---*/

/*---

Thanks for reading.

*/
